:root {
    --YlnMn-Blue: #3D5A80;
    --Powder-blue: #98C1D9;
    --Light-cyan: #E0FBFC;
    --Burnt-sienna: #EE6C4D;
    --Gunmetal: #293241;
}

#root {
    max-width: 100%;
    display: flex;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

html {
    background-color: var(--Powder-blue);
    max-width: 100%;
    margin: auto;
}

body {
    background-color: var(--Powder-blue);
    max-width: 100vw;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.label {
    color: var(--YlnMn-Blue);
    margin-top: 5vw;
}

.select {
    border: 1px solid transparent;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0;
}

input {
    background-color: var(--Light-cyan);
    border-radius: 4px;
}

form {
    display: flex;
    justify-content: center;
    max-width: 100vw
}

.main {
    background-color: white;
    border-radius: 30px;
    padding-bottom: 5vw;
    padding-top: 5vw;
    display: flex;
    max-width: 100vw;
    margin: auto;
    height: auto;
}

input[name="tile_width"] {
    width: 7ch;

}

input[name="tile_height"] {
    width: 7ch;
}

select[name="tile_depth"] {
    width: 4ch;
    height: 3em !important;
}

select[name="gap_size"] {
    width: 4ch;
    height: 3em !important;
}

input[name="gap_size_custom"] {
    margin-top: 2vw;
}

input[name="tile_depth_custom"] {
    margin-top: 2vw;
}

input[name="area_width"] {
    width: 7ch;
}

input[name="area_height"] {
    width: 7ch;
}

input[name="square_footage"] {
    width: 7ch;
}

#append-input {
    display: inline-flex;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    margin: 0;
    box-sizing: inherit;
    background-color: var(--Light-cyan);
    border-color: #dbdbdb;
    color: var(--Gunmetal);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border:1px solid rgb(10 10 10 / 10%);
    align-items: center;
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    max-width: 100%;
    height: 3em;
    width: 4ch;
    text-align: center;
    pointer-events: none;
}

.input.prepend {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0;
}

.control {
    display: inline-flex;
    max-width: 100%;
    margin: auto;
    padding-right: 5vw;
}

.grid {
    height: auto;
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.box {
    color: black;
    height: 250px;
    align-items: center;
    display: flex;
    box-shadow: none;
}

.a {
    text-transform: uppercase;
    color: transparent;
    font-family: arial;
    letter-spacing: 1rem;
    z-index: 1;
    border-radius: 30px 0px 0px 30px;
    border: 3px solid rgba(152, 193, 217, .6);
    max-width: 60%;
    flex-basis: auto;
    flex-grow: 5;
    flex-shrink: 3;
    justify-content: center;
    font-size: 15vw;
}

span {
    background: url("/Users/christopheselvais/Desktop/tetreact/front-end/src/components/resources/images/tetReactLogoV1.jpeg");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    justify-content: center;
}

.b {
    color: var(--YlnMn-Blue);
    text-transform: uppercase;
    font-size: 3.5vw;
    font-family: arial;
    background-color: rgba(152, 193, 217, .6);
    border-radius: 0px 30px 30px 0px;
    max-width: 40%;
}

.c {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #eee;
    justify-content: center;
    border-radius: 30px;
    margin: 0vw 5vw 5vw 5vw;
    width: 75vw;
    color: var(--Gunmetal);
    font-size: 2ch;
    background-color: var(--Light-cyan);
    min-height: 25vw;
}

.inputGrid {
    display: inline-flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
}

.inputBox {
    display: inline-flex;
    justify-content: space-around;
}

.inputA {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 2;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 150px;
}

.inputB {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 2;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 150px;
}

.field {
    width: 100vw;
    padding-left: 5vw;
}

#resultsBox {
    padding-bottom: 5vw;
}

#submitButton {
    margin-top: 5vw;
}

.help {
    margin-left: 2vw;
}

.container {
    height: auto;
    flex-direction: row;
    width: 100%;
    flex-basis: auto;
    flex-shrink: 3;
    flex-grow: 5;
    flex-wrap: wrap;
}




@media screen and (max-width: 1000px) and (min-width: 00px) {
    .main {
        max-width: 90vw;
    }
    .container {
        max-width: 100vw;
        margin: auto;
        width: 100%;
    }
    .inputGrid {
        justify-content: start;
    }
    .control {
        padding-right: 1vw;
    }
    .a {
        text-size-adjust: auto;
        font-size: 10vw;
    }
    #root {
        max-width: 90vw;
        display: flex;
        justify-content: center;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    body {
        display: flex;
        justify-content: center;
        max-width: 100vw;
    }
    .field {
        justify-content: start;
        width: 90vw;
        margin: auto;
    }
}